pyodbc==4.0.28
requests==2.22.0
Flask_Cors==3.0.8
pandas==0.25.3
Flask==1.1.1
numpy==1.18.1
clr==1.0.3
flask_caching==1.8.0
libmc==1.4.1
openpyxl==3.0.3
protobuf==3.18.3
pylibmc==1.6.1
python_dateutil==2.8.1
View==0.1
waitress==1.4.3
